{% extends 'base.html' %}
{% block content %}

<h1>{{ appname }}</h1>

<h4>Name: {{ name }}</h4>
<h4>Class: {{ class }}</h4>

{% if not product %}
<p>Belum ada product pada ship shop.</p>
{% else %}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product_ship in product %}
    <tr>
      <td>{{ product_ship.name }}</td>
      <td>{{ product_ship.price }}</td>
      <td>{{ product_ship.description }}</td>
      <td>{{ product_ship.quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button class="btn btn-primary">Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button class="btn btn-primary">Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
